<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este sitio fue creado por LMM. Usa datos de mapbox.com y darksky.net</p>
        <img src="/img/empty.png" class="portrait">
    </div>
    {{>footer}}
</body>

</html>