<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Clima del lugar...</p>

        <form>
            <input placeholder="Nombre de la ciudad">
            <button>Buscar</button>
        </form>

        <p id="msg1"></p>

        <p id="msg2"></p>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>